[submodule "submodules/erfnet_pytorch"]
	path = submodules/erfnet_pytorch
	url = https://gitlab.com/dtmoodie/erfnet_pytorch
[submodule "submodules/pytorch-image-models"]
	path = submodules/pytorch-image-models
	url = https://github.com/rwightman/pytorch-image-models
[submodule "submodules/monodepth-pytorch"]
	path = submodules/monodepth-pytorch
	url = https://github.com/alwynmathew/monodepth-pytorch
